$mobile: 480px;
$tablet: 700px;
$desktop: 1280px;

@mixin respond-to($media) {
  @if $media == small-mobile {
    @media (max-width: $mobile) { @content; }
  }
  @else if $media == mobile {
    @media (min-width: $mobile ) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tablet ){ @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}
