body{
  background: url('../images/make-up-brushes--compressed.jpg') center bottom fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

h1, h3, h4, h5, h6{
  font-family: 'Droid Serif', serif;
}

h1{
  //font-weight: bold;
  font-size: 2rem;
}

h2{
  font-weight: 300;
}

a{
  color: white;
}
